@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family:Arial, Helvetica, sans-serif;
}
:root{
    --main-color:#00000000;
    --second-color:rgb(105, 110, 110);
   }

body {
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	width: 100%;
	
	color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(./img/a0.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.contenedor {
	width: 90%;
	max-width: 1000px;
	background: #e7e6e6d5;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

form {
	font-size: 15px;
}

input {
	font-size: 18px;
	padding: 10px;
}

select {
	padding: 10px;
	font-size: 20px;
}

button {
	height: 40px; 
	padding-left: 5px;
	padding-right: 5px;   
	margin-bottom: 20px; 
	margin-top: 10px;   
	text-transform: uppercase;
	background-color: #998294; 
	border-color: rgb(105, 114, 119); 
	border-style: solid; 
	border-radius: 10px;  
	width: 420px;   
	cursor: pointer;
}

button:hover {
	background: #95969b;
}
.rojo {
	border: 1px solid red;
  }

.imagen {
	width: 200px;
	display:inline-block ;
	transition: transform 0.3s ease;
	transform:scale(1);

  }
  .imagen:hover{
	transform:scale(1.2);
  }


  h2{
	text-align: center;
	font-size:35px;
	margin-top:50px;
	text-transform: uppercase;
  }

.contenedor-imagenes{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	z-index: auto;
}

.mostrar{
	opacity:1;
}
.ventana{
	display: none;
}

.image-container{
	
	position:relative;
	display:inline-block;
}


.image {
	width: 300px;
	height:auto;

  }
 
  .trabajos__subtitulo{
	text-align: center;
	margin-bottom: 20px;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .contenedor__iconos{
	text-align:center; 
	font-size: 24px;
	
  }

  .contenedor__iconos i{
    margin-right: 30px;
  }

  .container__copyrigth{
	text-align:center; 
	font-size: 10px;
	padding:50px;
  }
  .container__bienvenido{
	padding:90px;
  }

  header{
	position: fixed;
	width: 100%;
	top:0;
	left:0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 4px 41px rgba(41, 46, 46, 0.14);
	transition:0.2s;
	padding:15px 10%;

	
  }
  .navbar {
	display:flex;
	list-style:none;
	padding:0;
	margin:0;
	
	
  }
  .navbar li{

	display:inline-block;
	margin-top: 50px;
	
  }
  
  .navbar li a:hover{
    color:#3b3b3b;
}
  
  
.navbar li a{
	text-decoration: none;
}
  .navbar a{
	font-size: 1rem;
	padding: 11px  20px;
	color: var(--second-color) ;
	font-weight: 600;
	text-transform: uppercase;
  }

  .navbar a:hover {
	color: var(--main-color);
  }

  #menu-icon{
	font-size: 24px;
	cursor:pointer;
	z-index: 1001;
	display: none;
  }

  .section{
	padding: 20px 10%;
  }

*::selection{
	color: #998294;
	background: var(--main-color);
}