@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	width: 100%;
	background: #eaeaea;
	color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container{
    position: relative;
    text-align: center;
    background-image: url(./img/a0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 900px;
    width:100%;
    border-radius: 8px;
    padding:40px;
    margin:0 15px;
    margin:0 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffffea;
    margin-bottom: 50px;
}
.container header{
    text-align: center;
    font-weight:bold;
}
.container form{
    position:relative;
    margin-top: 16px;
    min-height:490px;
    background-color:fcfcfc;
}

.container input{
    margin-bottom: 30px;
}
.input-field header{
    font-family:Arial, Helvetica, sans-serif;
}
.button{
   width: 400px;
   height: 50px;
   border: 2px solid #535050;
   border-radius: 40px;
   background-color: #ffffffea;
   margin-top: 30px;
   margin-bottom: 20px;
   
      }