@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{ margin:0;
 padding:0;
 box-sizing: border-box;
 scroll-padding-top: 2rem;
 text-decoration: none;
 list-style: none;
 scroll-behavior: smooth;
 font-family: 'Courier New', Courier, monospace;
}

*::selection{
    color: aliceblue;
    background: var(--main-color);
}
:root{
 --main-color:#0000;
 --second-color:rgb(151, 160, 158);
}
section{
padding: 50px 10%;
text-align: center;
font-size: 20px;

}
.imagen_asientos{
    opacity: 0;
}
.imagen_asientos--visible{
    opacity: 1;
}
img{
    width: 100%;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width:40px;
}

header{
    position:absolute;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(236, 234, 234);
    box-shadow:0 4px 41px rpg(14 55 54 / 15);
    padding: 15px 10%;
    transition: 0.2s;

}

.navbar{
    display: flex;
}

.navbar a{
    font-size: 1rem;
    padding: 11px 20px;
    color: var(--second-color);
    font-weight: 600;
    text-transform: uppercase;
}

.navbar a:hover{
    color: #000;;
}

#menu-icon{
    font-size:24px;
    cursor:pointer;
    z-index:1001;
    display: none;

}

.home{
    width: 100%;
    min-height:100vh;
    display: flex;
    flex-wrap: wrap;
   align-items: center;
   background: #eeeeee;
   gap:1rem ;
}
.home-text{
    flex:1 1 17rem;
}

.home-img{
    flex:1 1 17rem;
}
.home-img img{
    animation: animate 3s linear infinite;
}
@keyframes animate{
0%{
    transform:translate(-11px, 0);
    
}
50%{
    transform: translate(-0px, -11px);
}
100%{
    transform: translate(-11px, 0);
}
}

.home-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color:var(--second-color);
}

.home-text h1{
    font-size: 3.2rem;
    color: var(--second-color);
    font-weight: bolder;
}

.home-text h2{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--second-color);
    text-transform: unset;
    margin: 0.5rem 0 1.4rem;
}


.heading{
    text-align: center;
    text-transform: unset;
}

.heading span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--second-color);
}

.heading h1{
    font-size: 2rem;
    color:var(--second-color);

}
.container-primera{
    display:flex;
    flex-wrap: wrap;
    
    
}

.container-primera .box{
    flex: 1 1 10rem;
    background: var(--main-color);
    padding:20px;
    display: inline-block;
    align-items: center;
    margin-top: 3rem;
    border-radius: 0.5rem;

}
.container-primera .box .box-img{
    width: 300px;
    height: 300px;
    margin-top: -100px;

}
.container-primera .box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
   
   
}

header a img{
	
	text-align:center;
    animation: logo 0.8s linear 0s infinite alternate;
}

	@keyframes logo {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

    
    .comodidades h1{
        font-weight:bold;
        color:var(--second-color);
        padding: bottom;
        margin-bottom:20px;
    }
   
    .imagen_asientos img{
      width:300px;
      height:200px;
      border: 1px solid #b9b9b9;
      margin: 0 10px;
    

    }

    .comodidades_heading{
        display:flex;
        flex-wrap:wrap;
      gap:10px;

    }

   

    .contenedor__iconos{
        text-align:center; 
        font-size: 20px;
        
      }
    
      .contenedor__iconos i{
        margin-right: 30px;
        
      }
      .contenedor__iconos a i{
        text-decoration:none;
        color:rgb(93, 102, 109);
    
      }
      .contenedor__iconos a i:hover{
        color:#3b3b3b;
      }
    
      .container__copyrigth{
		text-align:center; 
		font-size: 10px;
		padding:50px;
	  }
  .container__copyrigth a{
	color:#000;
  }
	.container__copyrigth a:hover{
	color:var(--second-color);
	}

   
    
    .imagen {
            width: 100%;
            border-radius: 5px;
            vertical-align: top;
        }

        
        .ventana {
            display: none;
            width: 100vw;
            height: 100vh;
            position: fixed;
            z-index: 100;
            top: 0;
            left: 0;
        
        }
        .ventana-active{
            display: block;
        }
            .ventana__overlay {
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.8);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        
        
        
        
        
            .ventana__titulo {
                font-size: 24px;
            }
        
           
            .ventana__hint {
                font-size: 16px;
                color: #0000;
            }
        
            .ventana__body {
                background: #fffafa;
                padding: 5px;
                width: 90%;
                max-width: 900px;
                border-radius: 10px;
                display: grid;
                grid-template-columns: 3fr 2fr;
                gap: 20px;
                position: relative;
            }
        
            .ventana__imagen {
                width: 100%;
                border-radius: 5px;
                vertical-align: top;
            }
        
          
        
            .ventana__parrafo {
                line-height: 24px;
            }
        
            .ventana__info {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding: 20px 0;
            }
        
            
.comentarios {
	background: #f1f1f1;
	padding: 40px 0 40px 65px;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	text-align: center;
	border-radius: 0 0 15px 15px;
}
	.comentarios__header {
		margin-bottom: 40px;
	}

	.comentarios__titulo {
		margin-bottom: 10px;
	}

	.comentarios__slider {
		display: grid;
		grid-template-rows: 1fr;
		grid-auto-flow: column;
		gap: 20px;
		overflow-x: auto;
		cursor: move;
		cursor: -webkit-grab;
		cursor: -moz-grab;
		user-select: none;
		padding-right: 20px;
	}

	.comentarios__review {
		min-width: 400px;
		padding-bottom: 10px;
		position: relative;
	}

	.comentarios__contenedor-foto {
		position: relative;
		top: 40px;
		margin-top: -40px;
	}

	.comentarios__contenedor-textos {
		background: #fff;
		padding: 60px 20px 20px 20px;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		border-radius: 5px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.comentarios__foto {
		width: 80px;
		height: 80px;
		border-radius: 80px;
	}

	.comentarios__texto {
		font-size: 14px;
		color: #6f6f6f;
		margin-bottom: 20px;
	}

	.comentarios__autor {
		color:#000;
		font-weight: 600;
		font-size: 14px;
	}

	.comentarios__empresa {
		font-size: 14px;
	}
